:root {
    --bg-color: #f2f2f2;
    --text-color: #000;
    --card-bg: #fff;
    --nav-bg: #28a745;
    --button-bg: #28a745;
    --button-hover: #218838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.dark-mode {
    --bg-color: rgba(0, 0, 0, 0.9);
    --text-color: #fff;
    --card-bg: #1e1e1e;
    --nav-bg: #007bff;
    --button-bg: #007bff;
    --button-hover: #0056b3;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-bg);
    height: 60px;
    width: 100%;
    padding: 10px 30px;
    /* position: fixed; */
}

nav .logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

nav .logo-title img {
    height: 40px;
}

nav .logo-title h2 {
    font-weight: 700;
    font-style: normal;
    color: var(--text-color);
    text-align: center;
}

nav button {
    padding: 10px 20px;
    background-color: var(--card-bg);
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

nav button:hover {
    background-color: var(--text-color);
    color: var(--card-bg);
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}


.container {
    padding: 20px 60px;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
}

.input-group label {
    width: 30%;
}

input[type="text"],
input[type="number"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button {
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: var(--button-hover);
}

#AddBtn {
    float: right;
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.summary,
.change {
    margin-top: 30px;
}

.change div {
    margin: 5px 0;
}

.bottom-btn {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 30px;
}


@media (max-width:768px) {

    nav .logo-title h2 {
        font-size: 18px;
    }

    nav .logo-title img {
        height: 40px;
    }

    nav button {
        padding: 10px 15px;
        font-size: 12px;
    }

    .container {
        font-size: 14px;
    }

    .container button {
        font-size: 12px;
    }

}

@media (max-width:530px) {

    nav .logo-title {
        gap: 10px;
    }

    nav .logo-title h2 {
        font-size: 16px;
    }

    nav .logo-title img {
        height: 35px;
    }

    nav button {
        padding: 7px 10px;
        font-size: 10px;
    }

    .container {
        font-size: 12px;
    }

    .container button {
        font-size: 10px;
    }

    .input-group label {
        width: 40%;
    }

    input[type="text"],
    input[type="number"] {
        width: 60%;
    }

}

@media (max-width:450px) {

    nav .logo-title h2 {
        font-size: 14px;
    }

    nav .logo-title img {
        height: 30px;
    }

    nav button {
        padding: 5px 8px;
        font-size: 9px;
    }

    .container {
        font-size: 10px;
    }

    .container button {
        font-size: 8px;
    }

    .container .input-group input {
        font-size: 10px;
    }

    .container .input-group input::placeholder {
        font-size: 10px;
    }

}