:root {
    --bg-color: #f2f2f2;
    --text-color-black: #000;
    --text-color-white: #fff;
    --card-bg: #fff;
    --button-bg: #28a745;
    --button-hover: #218838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --card-bg: #1e1e1e;
    --button-bg: #007bff;
    --button-hover: #0056b3;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--button-bg);
    height: 60px;
    width: 100%;
    padding: 10px 30px;
    /* position: fixed; */
}

nav .logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

nav .logo-title img {
    height: 40px;
}

nav .logo-title h2 {
    font-weight: 700;
    font-style: normal;
    color: var(--text-color-white);
}

nav .toggle-mode {
    float: right;
}


body {
    /* background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
    color: var(--text-color-black);
    transition: background 0.3s, color 0.3s;
}

nav button {
    padding: 10px 20px;
    background-color: var(--text-color-black);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--text-color-white);
    color: #000;
}

.container {
    background: var(--card-bg);
    padding: 20px 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
}

.input-group label {
    width: 30%;
}

input[type="text"],
input[type="number"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button {
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}

#AddBtn {
    margin-top: 20px;
    float: right;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.summary,
.change {
    margin-top: 30px;
}

.change div {
    margin: 5px 0;
}